<!DOCTYPE html>
<html>
<head><% include commons/head.ejs %></head>

<body>

	<header><% include commons/header.ejs %></header>

	<!-- doc article content -->
	<div class="rounded right-sidebox" id="divArticle" style="z-index: 9">
		<div class="text-right" id="close_content" style="display: none">
			<div onclick="closeContent()" style="display: inline; color: darkgrey; padding: 0px 10px 0px 0px; margin: 10px; text-decoration: underline; cursor: pointer">
				닫기
			</div>
		</div>
		<h4><div class="container-fluid" id="title" style="padding: 0px 20px 10px 20px"></div></h4>
		<div class="container-fluid readability" id="content" style="padding: 10px 20px 20px 20px; margin: 10px 10px 10px 10px"></div>
	</div>

	<!-- tool buttons (back, download) -->
	<div class="btn-group" style="padding: 10px 10px 0px 10px; width: 100%">
		<button type="button" class="btn btn-outline-dark" onclick="movePrevPath()"><i class="fas fa-arrow-left"></i></button>
		<button type="button" class="btn btn-outline-dark" onclick="moveLastNextPath()"><i class="fas fa-arrow-right"></i></button>
		<button type="button" class="btn btn-outline-dark" onclick="downloadContent()"><i class="fas fa-download"></i></button>
		<input class="rounded-right pathbox" id="pathbox" readonly style="padding-left: 10px; width: 100%; height: 40px">
	</div>

	<!-- table container -->
	<div class="container-fluid" id="docTable" style="display: none; margin: 10px 0px; height: 742px">
		<!-- total -->
		<form class="form-inline">
			<div class="input-group my-1 mr-1">
				<div class="input-group-prepend">
					<span class="input-group-text">총 개수</label>
				</div>
				<span class="form-control" id="docTotal">0</span>
			</div>
			<div class="input-group my-1 mr-1">
				<div class="input-group-prepend">
					<span class="input-group-text">파일크기</label>
				</div>
				<span class="form-control" id="docFileSize">0</span>
			</div>

<!-- TODO: 요금문제 고려
			<div class="input-group my-1 mr-1">
				<div class="input-group-prepend">
					<span class="input-group-text">단어 수</label>
				</div>
				<span class="form-control" id="docWordCount">0</span>
			</div>
			<div class="input-group my-1">
				<div class="input-group-prepend">
					<span class="input-group-text">문장 수</label>
				</div>
				<span class="form-control" id="docSentenceCount">0</span>
			</div>
-->
		</form>
		
		<!-- table -->
		<div style="overflow-x: auto">
			<table class="table table-striped" id="list">
				<tr class="table-primary">
					<th>제목</th><th>클라우드</th><th>파일크기</th><th>단어수</th><th>문장수</th><th>파일저장</th>
				</tr>
			</table>
			<div class="container-fluid text-center" id="noData" style="display: none; font-size: 24px; color: darkgray; padding: 10px 20px 20px 20px">
				No Data ...
			</div>
		</div>
		<span class="link" onclick="loadDocList(1)">첫 페이지</span>
		<!-- '마지막 페이지' 링크는 loadDocList(...)에서 다시 onclick 콜백함수가 설정된다. -->
		<span class="link" id="go_last_page" onclick="loadDocList(1)" style="padding: 5px">마지막 페이지</span>
		<div class="btn-group text-center" id="page" style="display: block; padding: 0px 20px 20px 20px"></div>
	</div>

	<!-- folders -->
	<div class="container-fluid" id="divMain" style="padding: 20px; height: 524px; overflow: auto">
	</div>

	<!-- doc total table -->
	<div class="container" style="margin: 10px 0px; overflow-x: auto">
		<table class="table table-striped" id="tbDocTotal" style="display: none"></table>
	</div>

	<footer><% include commons/footer.ejs %></footer>

	<!-- top button -->
	<% include commons/floatingbutton.ejs %>


	<!-- == SCRIPTs ===================================================================== -->
	<% include commons/util.ejs %> <!-- connection util -->

	<script type="text/javascript">
		/* View */
		//-article content
		const btnCloseContent = document.getElementById("close_content");
		const divTitle = document.getElementById("title");
		const divContent = document.getElementById("content");
		const tbDocTotal = document.getElementById("tbDocTotal");
		//-doc list
		const docTable = document.getElementById("docTable");
		//-folder
		const pathbox = document.getElementById("pathbox");
		const divMain = document.getElementById("divMain");
		
		/* Data */
		const ROOT_PATH = 'DOC';
		let currentPath = ROOT_PATH;
		let lastNextName = []; //앞으로 갈 때 이동할 필터명
		let selectedItems = []; //선택된 폴더 OR S3객체키 (다운로드 리스트)
		let cloudNames = ["aws", "azure", "azureBlog", "googleCloud"];
		let docArgs = {"cloud": ""}; //현재 경로 내용
		let count = 0;
		let startKeys = []; //AWS S3 페이징을 위한 S3객체키 (0-based)
		
		/* execute */
		document.getElementById("nav-corpus").classList.add('active');
		document.getElementById("nav-doccorpus").classList.add('active');
		pathbox.value = currentPath;
		initDocTotalTable(true);
		showFolders();

		/* View Control */
		function showhideRightSideBox(shown) { //내용 창을 보여주거나 숨긴다.
			document.getElementById("divArticle").style.width = (shown) ? '80%' : '0';
		}

		function showFolders() { //하위 폴더를 보여준다. (성공 true, 실패 false -> 실패한 경우 Caller는 폴더 대신 뉴스기사 목록을 보여줘야 한다.)
			let svgHtml = '';

			selectedItems.length = 0; //선택 목록 초기화 (clear list)
			let sublistNames = getSubListNames();
			if (!sublistNames || sublistNames.length == 0) {
				return false;
			}

			// 폴더 그리기
			sublistNames.forEach(name => {
				const firstLetter = name[0].toUpperCase();
				svgHtml += `
<button class="btn folder" onclick="selectItem(this, '${name}')" ondblclick="moveNextPath('${name}')">
	<svg height="50" width="50">
		<polygon points="0,0 20,0 25,5 50,5 50,50 0,50" fill="antiquewhite" />
		<text x="25" y="42" font-size="45" fill="coral" text-anchor="middle">${firstLetter}</text>
	</svg>
	<div class="folder-name" id="folder_${name}">
		${name}
		<span class="spinner-border spinner-border-sm" id="spinner_${name}"></span>
	</div>
</button>
				`;
			});
			divMain.style.display = 'block';
			divMain.innerHTML = svgHtml;

			loadFolders(sublistNames); //각 폴더이름 옆에 기사개수 로드

			return true;
		}

		function selectItem(v, name) {
			v.style.backgroundColor = 'lightsalmon';
			v.onclick = (e) => {
				unselectItem(v, name);
			}
			selectedItems.push(name);
		}

		function unselectItem(v, name) {
			v.style.backgroundColor = null;
			v.onclick = (e) => {
				selectItem(v, name);
			}
			let delIdx = selectedItems.indexOf(name);
			selectedItems.splice(delIdx, 1);
		}

		function movePrevPath() {
			if (currentPath == ROOT_PATH) return;
			docTable.style.display = 'none';
			const lastSlashIdx = currentPath.lastIndexOf('/');
			lastNextName.push(currentPath.substr(lastSlashIdx + 1, currentPath.length - lastSlashIdx - 1));
			currentPath = currentPath.substr(0, lastSlashIdx);
			pathbox.value = currentPath;
			if (!showFolders())
				loadDocList(1);
		}

		function moveNextPath(name) {
			if (name)
				lastNextName = [];
			else
				name = lastNextName.pop();
			currentPath += ('/' + name);
			pathbox.value = currentPath;
			if (!showFolders())
				loadDocList(1);
		}

		function moveLastNextPath() {
			if (lastNextName.length > 0)
				moveNextPath();
		}

		function getSubListNames() { //현재 경로의 하위 목록을 반환한다.
			docArgs = {"cloud": ""};

			let sublist = null;
			if (currentPath == ROOT_PATH) {
				sublist = cloudNames;
			} else {
				const pathNames = currentPath.split('/');
				if (pathNames.length == 2) { //not Root
					docArgs['cloud'] = pathNames[1];
				}
			}

			return sublist;
		}

		function initDocTotalTable(show) {
			tbDocTotal.innerHTML = `
				<tr class="table-primary">
					<th>클라우드</th><th>개수</th><th>파일크기</th><th>단어수</th><th>문장수</th>
				</tr>`;
			tbDocTotal.style.display = show ? 'block' : 'none';
		}

		/* Http Server */
		function loadFolders(folderList) { //각 폴더이름 옆에 개수 로드
			let cloud = docArgs["cloud"];

			let suffix = "";
			let suffixKey = "";
			if (cloud != "") {
				suffix += `?cloud=${cloud}`;
			} else {
				suffixKey = "?cloud=";
			}

			initDocTotalTable(true);

			folderList.forEach(val => {
				let dest = `doccorpus/count${suffix}${suffixKey}${val}`;
				connect("GET", dest, null, null, function(readyState, status, response) {
					if (readyState != 4) return;
					let spinner = document.getElementById(`spinner_${val}`);
					if (spinner != undefined)
						spinner.style.display = 'none';
					if (status != 200) return;

					let result = JSON.parse(response);
					let count = result.count;

					let divFolder = document.getElementById(`folder_${val}`);
					divFolder.innerText = `${val} (${count})`;

					let tr = document.createElement("TR");
					let tdName = document.createElement("TD");
					let tdDocCount = document.createElement("TD");
					let tdFileSize = document.createElement("TD");
					let tdWordCount = document.createElement("TD");
					let tdSentenceCount = document.createElement("TD");

					tdName.innerText = val;
					tdDocCount.innerText = numberWithCommas(count) + " 개";
					// tdFileSize.innerText = numberWithCommas(Math.round(result.fs / 1024 * 10) / 10) + " KB";
					// tdWordCount.innerText = numberWithCommas(result.wc) + " 개";
					// tdSentenceCount.innerText = numberWithCommas(result.sc) + " 개";

					tr.appendChild(tdName);
					tr.appendChild(tdDocCount);
					tr.appendChild(tdFileSize);
					tr.appendChild(tdWordCount);
					tr.appendChild(tdSentenceCount);
					tbDocTotal.appendChild(tr);
				});
			});
		}

		function loadDocList(page) { //시작 키로부터 10개의 doc 목록을 가져온다.
			divMain.style.display = 'none';
			docTable.style.display = 'block';
			initDocTotalTable(false);

			loadDocCountCallback = function(cloud, page, size, count, startKeys) {
				const spanNewsTotal = document.getElementById("docTotal");
				spanNewsTotal.innerText = numberWithCommas(count) + " 개";
				// const spanNewsFileSize = document.getElementById("docFileSize");
				// spanNewsFileSize.innerText = "0 KB";
				// const spanNewsWordCount = document.getElementById("docWordCount");
				// spanNewsWordCount.innerText = "0 개";
				// const spanNewsSentenceCount = document.getElementById("docSentenceCount");
				// spanNewsSentenceCount.innerText = "0 개";

				const spanGoLastPage = document.getElementById("go_last_page");
				spanGoLastPage.onclick = function(e) {
					loadDocList(Math.ceil(count / size));
				};
				const btnGroup = document.getElementById("page");
				while (btnGroup.firstChild)
					btnGroup.removeChild(btnGroup.firstChild);
				var s = page - 4;
				if (s < 1) s = 1;
				var e = s + size;
				if (e > count / size + 1) e = count / size + 1;
				for (let i = s; i < e; i++) {
					/* Bind */
					var btn;
					btn = document.createElement("BUTTON");
					/* Set btn */
					btn.innerText = i;
					btn.style.width = '45px';
					btn.style.fontSize = '0.8em';
					btn.onclick = function(e) {
						loadDocList(i);
					};
					btn.className = (i==page)? 'btn btn-secondary' : 'btn btn-outline-secondary';
					/* Append */
					btnGroup.appendChild(btn);
				}

				/* Load doc list */
				const table = document.getElementById("list");
				//제목 클라우드 파일크기 단어수 문장수 파일저장
				while (table.childElementCount > 1)
					table.removeChild(table.lastChild);

				if (count == 0) {
					document.getElementById("noData").style.display = 'block';
					return;
				} else {
					document.getElementById("noData").style.display = 'none';
				}

				const dest = `doccorpus/list?startAfter=${startKeys[page - 1]}&size=${size}&cloud=${cloud}`;
				connect("GET", dest, null, null, function(readyState, status, response) {
					if (readyState != 4 || status != 200) return;

					let data = JSON.parse(response);
					let length = data.KeyCount;
					let contents = data.Contents;

					for (let i = 0; i < length; i++) {
						/* Bind */
						let tr = document.createElement("TR");
						let tdTit = document.createElement("TD");
						let tdCl = document.createElement("TD");
						let tdSize = document.createElement("TD");
						let tdWc = document.createElement("TD");
						let tdSc = document.createElement("TD");
						let tdTxt = document.createElement("TD");
						let aTxtUrl = document.createElement("A");
						let iTxtIcon = document.createElement("I");
						
						/* Set row */
						let content = contents[i];
						let title = decodeURI(content.Key.split('/')[1]);
						let url = 'https://s3.ap-northeast-2.amazonaws.com/cloud.doc.hansung.ac.kr/' + content.Key;
						tdTit.innerText = title;
						tdCl.innerText = cloud;
						tdSize.innerText = `${content.Size} B`;
						tdWc.innerText = 0;
						tdSc.innerText = 0;
						if (url != "")
							aTxtUrl.href = url;
						aTxtUrl.download = "title.txt";
						iTxtIcon.className = 'far fa-file-alt';
						iTxtIcon.style = 'font-size:24px';

						tr.onclick = function(e) {
							selectItem(tr, url);
						};

						tr.ondblclick = function(e) {
							closeContent();
							if (url != "") {
								loadContent(title, url);
							}
						};

						/* Append */
						tr.appendChild(tdTit);
						tr.appendChild(tdCl);
						tr.appendChild(tdSize);
						tr.appendChild(tdWc);
						tr.appendChild(tdSc);
						aTxtUrl.appendChild(iTxtIcon);
						tdTxt.appendChild(aTxtUrl);
						tr.appendChild(tdTxt);
						table.appendChild(tr);
					}
				}); //load doc list
			} //loadDocCountCallback

			if (page < 1) page = 1;
			const size = 10; //행 최대개수
			let cloud = docArgs["cloud"];

			if (page == 1) {
				/* Load doc count */
				let dest = `doccorpus/count?cloud=${cloud}&size=${size}`;
				connect("GET", dest, null, null, function(readyState, status, response) {
					if (readyState != 4 || status != 200) return;
					let result = JSON.parse(response);
					count = result.count;
					startKeys = result.startKeys;

					loadDocCountCallback(cloud, page, size, count, startKeys);
				}); //load doc count
			} else {
				loadDocCountCallback(cloud, page, size, count, startKeys);
			}
		}

		function loadContent(title, texturl) { //내용을 가져온다.
			showhideRightSideBox(true);

			/* Get news text */
			connect("GET", texturl, null, null, function(readyState, status, response) {
					if (readyState != 4 || status != 200) return;

					/* Set text */
					let text = response;
					btnCloseContent.style.display = 'block';
					divTitle.innerText = title;
					divContent.innerText = text;
				});
		}

		function closeContent() { //내용 창을 닫는다.
			showhideRightSideBox(false);
			btnCloseContent.style.display = 'none';
			while (divTitle.firstChild)
				divTitle.removeChild(divTitle.firstChild);
			while (divContent.firstChild)
				divContent.removeChild(divContent.firstChild);
		}

		function downloadContent() {
			let cloud = docArgs["cloud"];

			/* Download news contents */
			let dest = `doccorpus/download?cloud=${cloud}`;

			let headers = [
				{'name': 'Content-Type', 'value': 'application/json'}
			];

			let body = null;
			let currentKey = null; //선택한 항목 종류 (cloud or docId)
			// TODO: cloud, docId 위치 구분

			if (selectedItems.length != 0)
				body = `{"key": "${currentKey}", "selectedItems": ["${selectedItems.join('", "')}"]}`;

			connect("POST", dest, headers, body, function(readyState, status, response) {
				if (readyState != 4) return;
				if (status == 203) {
					alert('1개 이상 항목만 내려받을 수 있습니다.');
					return;
				}
				if (status != 200) return;

				let url = response;
				window.open(url, '_blank');
			});
		}

	</script>

</body>
</html>
