<!DOCTYPE html>
<html>
<head><% include commons/head.ejs %></head>

<body>

	<header><% include commons/header.ejs %></header>

	<div class="container-fluid text-center" style="padding: 50px 20px 20px 20px">
		<a href='/' style="color: black; text-decoration: none"><h1>Web NLP Tools</h1></a>
	</div>

	<div class="jumbotron" style="padding: 50px; margin: 180px 5px 300px 5px">
		<button type="button" class="btn btn-primary btn-lg btn-block" onclick="go_page('/newscrawling')">뉴스 크롤링</button>
		
		<button type="button" class="btn btn-primary btn-lg btn-block" onclick="go_page('/newscorpus')">말뭉치 확인</button>
	</div>

	<footer><% include commons/footer.ejs %></footer>

	<!-- top button -->
	<% include commons/floatingbutton.ejs %>


	<!-- script -->
	<script type="text/javascript">
		/* View Control */
		function go_page(dest) {
			location.href = dest;
		}
	</script>

</body>
</html>
