<html>
<head><% include commons/head.ejs %></head>

<body>

	<header><% include commons/header.ejs %></header>

	<!-- input form -->
	<% include news/inputform.ejs %>
	<div class="container-fluid text-center">
		<button type="button" class="btn btn-primary" onclick="list(null, 1)">DB 검색</button>
	</div>

	<hr>

	<!-- table -->
	<div class="container-fluid">
		<div id="n_list"></div>
		<table class="table table-bordered" id="list">
			<tr>
				<th>id</th><th>제목</th><th>신문사</th><th>상위 분류</th><th>하위 분류</th><th>날짜</th><th>파일크기</th><th>단어수</th><th>문장수</th><th>TXT</th>
			</tr>
		</table>
		<div class="container-fluid text-center" id="noData" style="display: none; font-size: 24px; color: darkgray; padding: 10px 20px 20px 20px">
			No Data ...
		</div>
		<span class="link" onclick="list(null, 1)">첫 페이지</span>
		<span class="link" id="go_last_page" onclick="list(null, 1)" style="padding: 5px">마지막 페이지</span>
		<div class="text-center" id="page" style="padding: 0px 20px 20px 20px"></div>
	</div>

	<hr>

	<!-- news article content -->
	<div class="text-right" id="close_content" onclick="closeContent()" style="display: none; color: darkgrey; padding: 0px 10px 0px 0px; text-decoration: underline; cursor: pointer">
		닫기
	</div>
	<h4><div class="container-fluid" id="title" style="padding: 0px 20px 10px 20px"></div></h4>
	<div class="container-fluid" id="content" style="font-size: 16.5px; text-indent: 10px; letter-spacing: 1.8; word-spacing: 1.8; line-height: 1.6; padding: 10px 20px 20px 20px"></div>

	<footer><% include commons/footer.ejs %></footer>

	<!-- top button -->
	<% include commons/floatingbutton.ejs %>


	<!-- script -->
	<% include commons/util.ejs %>

	<script type="text/javascript">
		/* execute */
		document.getElementById("nav-corpus").classList.add('active');
		list(null, 1);


		/* Http Server */
		function list(view, page) { //페이지의 뉴스 목록을 가져온다.
			if (page < 1) page = 1;
			const size = 10; //행 최대개수
			const newsName = inputform_selNewsName.options[inputform_selNewsName.selectedIndex].value;
			const newsCategory = inputform_selCategory.options[inputform_selCategory.selectedIndex].value;
			const newsDivision = inputform_selDivision.options[inputform_selDivision.selectedIndex].value;
			let startDate = inputform_startDate.value;
			let endDate = inputform_endDate.value;

			/* Get news count */
			let dest = `newscorpus/count?newsName=${newsName}&newsCategory=${newsCategory}&newsDivision=${newsDivision}&startDate=${startDate}&endDate=${endDate}`;
			connect("GET", dest, null, function(readyState, status, response) {
				if (readyState != 4 || status != 200) return;
				let count = response;
				const divNlist = document.getElementById("n_list");
				divNlist.innerText = `총 ${count} 개`;
				const spanGoLastPage = document.getElementById("go_last_page");
				spanGoLastPage.onclick = function(e) {
					list(null, Math.ceil(count / size));
				};
				const btnGroup = document.getElementById("page");
				while (btnGroup.firstChild)
					btnGroup.removeChild(btnGroup.firstChild);
				var s = page - 4;
				if (s < 1) s = 1;
				var e = s + size;
				if (e > count / size + 1) e = count / size + 1;
				for (let i = s; i < e; i++) {
					/* Bind */
					var btn;
					btn = document.createElement("BUTTON");
					/* Set btn */
					btn.innerText = i;
					btn.style.width = '50px';
					btn.style.margin = '3px 3px 3px 3px';
					btn.onclick = function(e) {
						list(null, i);
					};
					btn.className = (i==page)? 'btn btn-primary' : 'btn btn-outline-primary';
					/* Append */
					btnGroup.appendChild(btn);
				}

				/* Get news list */
				const table = document.getElementById("list");
				//id  url  newspaper  category  division  date  title text
				while (table.childElementCount > 1)
					table.removeChild(table.lastChild);
				
				if (count == 0) {
					document.getElementById("noData").style.display = 'block';
					return;
				} else {
					document.getElementById("noData").style.display = 'none';
				}

				const dest = `newscorpus/list?page=${page}&size=${size}&newsName=${newsName}&newsCategory=${newsCategory}&newsDivision=${newsDivision}&startDate=${startDate}&endDate=${endDate}`;
				connect("GET", dest, null, function(readyState, status, response) {
					if (readyState != 4 || status != 200) return;

					let rows = JSON.parse(response);
					for (let i = 0; i < rows.length; i++) {
						/* Bind */
						let tr = document.createElement("TR");
						let tdId = document.createElement("TD");
						let tdTit = document.createElement("TD");
						let aTitUrl = document.createElement("A");
						let tdNp = document.createElement("TD");
						let tdCat = document.createElement("TD");
						let tdDiv = document.createElement("TD");
						let tdDat = document.createElement("TD");
						let tdSize = document.createElement("TD");
						let tdWc = document.createElement("TD");
						let tdSc = document.createElement("TD");
						let tdTxt = document.createElement("TD");
						let aTxtUrl = document.createElement("A");
						let iTxtIcon = document.createElement("I");

						/* Set row */
						let row = rows[i];
						tdId.innerText = row.id;
						aTitUrl.innerText = row.title;
						aTitUrl.href = row.url;
						tdNp.innerText = row.newspaper;
						tdCat.innerText = row.category;
						tdDiv.innerText = row.division;
						tdDat.innerText = row.date;
						tdSize.innerText = `${row.textsize} B`;
						tdWc.innerText = row.textwc;
						tdSc.innerText = row.textsc;
						aTxtUrl.href = row.texturl;
						aTxtUrl.download = `${row.date}-${row.title}.txt`;
						iTxtIcon.className = 'far fa-file-alt';
						iTxtIcon.style = 'font-size:24px';

						tr.onclick = function(e) {
								loadContent(row.title, row.texturl);
							};
						
						tr.onmouseover = function(e) {
								tr.style.backgroundColor = 'DodgerBlue';
								tr.style.color = 'White';
								aTitUrl.style.color = 'White';
								aTxtUrl.style.color = 'White';
							};
						tr.onmouseout = function(e) {
								tr.style.backgroundColor = 'White';
								tr.style.color = '';
								aTitUrl.style.color = '';
								aTxtUrl.style.color = '';
							};

						/* Append */
						tr.appendChild(tdId);
						tdTit.appendChild(aTitUrl);
						tr.appendChild(tdTit);
						tr.appendChild(tdNp);
						tr.appendChild(tdCat);
						tr.appendChild(tdDiv);
						tr.appendChild(tdDat);
						tr.appendChild(tdSize);
						tr.appendChild(tdWc);
						tr.appendChild(tdSc);
						aTxtUrl.appendChild(iTxtIcon);
						tdTxt.appendChild(aTxtUrl);
						tr.appendChild(tdTxt);
						table.appendChild(tr);
					}
				}); //get list
			}); //get count
		}

		function loadContent(title, texturl) { //뉴스 내용을 가져온다.
			/* Get news text */
			connect("GET", texturl, null, function(readyState, status, response) {
					if (readyState != 4 || status != 200) return;

					let text = response;

					/* Bind */
					document.getElementById("close_content").style.display = 'block';
					const divTitle = document.getElementById("title");
					while (divTitle.firstChild)
						divTitle.removeChild(divTitle.firstChild);
					const divContent = document.getElementById("content");
					while (divContent.firstChild)
						divContent.removeChild(divContent.firstChild);

					/* Set text */
					divTitle.innerText = title;
					divContent.innerText = text;
				});
		}

		function closeContent() {
			document.getElementById("close_content").style.display = 'none';
			const divTitle = document.getElementById("title");
			while (divTitle.firstChild)
				divTitle.removeChild(divTitle.firstChild);
			const divContent = document.getElementById("content");
			while (divContent.firstChild)
				divContent.removeChild(divContent.firstChild);
		}

	</script>

</body>
</html>
