<!DOCTYPE html>
<html>
<head><% include commons/head.ejs %></head>

<body>

	<header><% include commons/header.ejs %></header>

	<!-- input form -->
	<% include news/inputform.ejs %>
	<div class="container-fluid text-center" style="padding: 50px">
		<button type="button" class="btn btn-primary" id="btnCrawling" onclick="getNews()">크롤링 시작</button>
	</div>

	<!-- progress bar -->
	<div class="container-fluid" id="divProgress" style="display: none; padding: 50px">
		크롤링 진행도
		<div class="progress" style="height: 24px">
			<div class="progress-bar progress-bar-striped progress-bar-animated" id="progressBar" style="width: 0%; height: 24px">
				0%
			</div>
		</div>
		<div class="container text-center" style="padding: 50px; color: darkgrey; font-size: 1.4em">
			페이지를 나가도 크롤링은 계속 진행됩니다.
		</div>
	</div>
	<!-- db perfection with date -->
<!--
	<select class="form-control" id="year" style="width: 100px; margin: 0px 0px 0px 50px" onchange="changeYear()">
		<option value="2019">2019</option>
		<option value="2018">2018</option>
		<option value="2017">2017</option>
	</select>
	<div class="text-center" style="border: 1px solid darkgray; border-radius: 5px; margin: 0px 50px 50px 50px; padding: 10px">
	</div>
-->

	<footer><% include commons/footer.ejs %></footer>

	<!-- top button -->
	<% include commons/floatingbutton.ejs %>


	<!-- script -->
	<% include commons/util.ejs %>

	<script type="text/javascript">
		const calStartDate = document.getElementById("startDate");
		const calEndDate = document.getElementById("endDate");
		const btnCrawling = document.getElementById("btnCrawling");
		const divProgress = document.getElementById("divProgress");
		const progressBar = document.getElementById("progressBar");
		let source = null;

		/* execute */
		document.getElementById("nav-newscrawling").classList.add('active');

		/* Http Server */
		function getNews() { //뉴스 업데이트 요청
			btnCrawling.style.display = 'none';
			divProgress.style.display = 'block';

			const newsName = inputform_selNewsName.options[inputform_selNewsName.selectedIndex].value;
			const newsCategory = inputform_selCategory.options[inputform_selCategory.selectedIndex].value;
			const newsDivision = inputform_selDivision.options[inputform_selDivision.selectedIndex].value;
			const startDate = calStartDate.value;
			const endDate = calEndDate.value;
			const dest = `newscrawling/${newsName}?newsCategory=${newsCategory}&newsDivision=${newsDivision}&startDate=${startDate}&endDate=${endDate}`;

			connect("GET", dest, null, null, function(readyState, status, response) {
				if (readyState != 4 || status != 200)
					return;

				// notify crawling status
				console.log(response);

				if (typeof(EventSource) != undefined) {
					if (source != null)
						source.close();
					source = new EventSource(response);
					source.onmessage = (e) => {
						if (source != null && e.data == 100) {
							source.close();
							setTimeout(() => {
								btnCrawling.style.display = 'inline';
								divProgress.style.display = 'none';
							}, 1500);
						}
						const percent = Math.round(e.data * 100) / 100;
						progressBar.style.width = `${percent}%`;
						progressBar.innerText = `${percent}%`;
					}
				}
			});
		}

	</script>

</body>
</html>
