<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<!-- home -->
	<a class="navbar-brand" href="/">메인</a>

	<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#main_nav" aria-expanded="true">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- link -->
	<div class="navbar-collapse collapse" id="main_nav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" id="nav-newscrawling" href="/newscrawling">뉴스크롤러</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="nav-doccrawling" href="/doccrawling">DOC크롤러</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="nav-newscorpus" href="/newscorpus">뉴스말뭉치확인</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="nav-doccorpus" href="/doccorpus">DOC말뭉치확인</a>
			</li>
		</ul>
	</div>
</nav>
